

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: white;  
  box-sizing: border-box;
}

article li {
    text-align: left;
}
.center-vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.front-green {
    /*background-color: #006940;*/
    background-color: hsl(157, 26%, 56%);
    color: white;
    text-align: center;
    /*position: relative;*/
    /*font-size: 30px; */
}

.front-white {
    background-color: white;
    color: #444;
    text-align: center;
}

.front-blue {
    background-color: hsl(212, 38%, 58%);
    color: white;
    text-align: center;
}

.front-panel {
    height: 500px;
    width: 100%;
    font-size: 40px;
    position: relative; 
    }

.front-panel div {
    left: 50%;
    margin-right: -50%;
   position: absolute;               
   top: 50%;                         
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
 }

.front-panel p {
    position: absolute; 
    left: 50%;
    margin-right: -50%;
    top: 50%;                         
   -webkit-transform: translate(-50%, -50%);
   -moz-transform:    translate(-50%, -50%);
    -ms-transform:    translate(-50%, -50%);
     -o-transform:    translate(-50%, -50%);
    transform:        translate(-50%, -50%);  
}
 
header {
  position: fixed;
  margin: auto;
  width: 90%;
  /*max-width: 900px;*/
  background: white;
  right: 0;
  left: 0;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 10;
} 

header img {
  width: 70%;
  max-width: 200px;
  margin-left: 8px;
  margin-top: 8px;
}

header nav {
  float: right;
}

header nav ul a{
  text-decoration: none;
}

#block-vandocs-branding {
    display: inline;
}
#hamburger {
  width: 50px;
  float: right;
  display:none;
}

header + div {
    height: 59px;
}

.layout-content {
    /*position: relative;*/
    /*top: 60;*/
    /*margin: 40px;*/
    margin-left: 40px;
    margin-right: 40px;
    max-width: 400px; 
    /*margin-top: 60px; */
    text-align: justify;
}

/*.front-page {*/
/*    margin-top: 60px;*/
/*}*/

.front-page .layout-content {
    margin: 0;
    max-width: 100%;
}


p {
  padding-bottom: 10px;
  line-height: 140%;
}

a{
    text-decoration: none;
    color: inherit;
}

nav {
    display: block;
}

nav ul{
   background-color: white;
   overflow: hidden;
   color: #003777; 
   padding: 0;
   text-align: center;
   margin: 0;
   -webkit-transition: max-height 0.4s;
   -ms-transition: max-height 0.4s;
   -moz-transition: max-height 0.4s;
   -o-transition: max-height 0.4s;
   transition: max-height 0.4s;
}

ul.menu {
    margin: 0;
}

nav ul li{
    display: inline-block; 
    padding: 20px;
}

nav ul li:hover {
    background-color: lightgrey;
    color: black;
}

content {
  text-align: center;
  width: 100%;
  margin: auto;
}

section { 
   line-height: 1.5em; 
   font-size: 0.9em;
   padding: 40px; 
   width: 75%;
   max-width: 400px;  
   margin: 0 auto; 
   text-align: justify;
}

.stm-menu {
    width: 100%;
    background: #005c48;
    text-align: left;
    box-sizing: border-box; 
    padding: 15px 10px;
    cursor: pointer; 
    color: white;
    display: none;
}



@media screen and (max-width: 830px) {
   nav ul { 
        max-height: 0;
    }

    .showing{
        max-height: 20em; 
    }

    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
	text-align: left;
    }  
    .stm-menu {
        display: block; 
    }
    

    #hamburger {
      display: block;
    }
    
    header {
        width: 100%;
    }
    
    header nav {
      text-align: center;
      width: auto;
      float: none;
      clear:both;
    }
    header nav ul li {
    display:block;
    
    }
    nav ul {
         max-height: 0;
         display: none;
     }
    
    .showing{
        max-height: 20em;
        display: block;
    }

    
}

   